@import url(fonts.css);
@import url(reset.css);

body,
h1 {
    font-family: 'TTLakes', sans-serif;
}

button {
    font-family: 'TTLakes-Medium', sans-serif;
    cursor: pointer;
}

header {
    background-color: #fff;
    padding: 18px 16px;
    border-bottom: 1px solid #D9FFF5;
}

button {
    background: transparent;
    border: none;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.pink-button {
    background-color: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.pink-button--menu {
    background-image: url(../images/burger.svg);
}

.pink-button--call {
    background-image: url(../images/call.svg);
}

.pink-button--message {
    background-image: url(../images/message.svg);
}

.pink-button--contact {
    background-image: url(../images/contact.svg);
}

.pink-button--request {
    background-image: url(../images/request.svg);
}

.pink-button--status {
    background-image: url(../images/status.svg);
}

.header-container__button:last-child {
    margin-right: 0;
}

.additional-button {
    display: none;
}

.logo {
    text-decoration: none;
}

.header__logo {
    margin-right: auto;
}

main {
    padding-top: 16px;
    background-color: #F8F8F8;
}

.main-header {
    font-size: 28px;
    background-image: url(../images/header.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 12px;
    margin-bottom: 24px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    list-style: none;
    text-wrap: nowrap;
    font-size: 16px;
    padding: 0 16px;
    font-family: 'TTLakes-Medium', sans-serif;
}

.nav-list::before,
.nav-list::after {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(rgb(248, 248, 248), transparent);
    width: 24px;
    height: 36px;
}

.nav-list::before {
    left: 0;
}

.nav-list::after {
    right: 0;
}

.main-nav__list {
    margin-bottom: 24px;
}

.nav-list__link--hover {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.nav-list__link {
    display: block;
    text-decoration: none;
    color: #7E7E82;
    padding: 8px 16px;
}

.service-buttons__button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.preview-post__container {
    margin-bottom: 16px;
}

.text-block__item {
    margin-bottom: 16px;
    padding: 0 16px;
}

.text-block__item:last-child {
    margin-bottom: 0;
}

.text-block {
    max-height: 90px;
    line-height: 18px;
    overflow: hidden;
}

.read-more {
    border: none;
    font-family: 'TTLakes-Medium', sans-serif;
    background-color: transparent;
    background-image: url(../images/readmore.svg);
    background-repeat: no-repeat;
    background-position: left center;
    text-align: right;
    padding-left: 20px;
}

.text-block__button {
    margin-left: 22px;
    margin-top: 16px;
}

.preview-post__image {
    width: 100%;
}

.separator {
    display: none;
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    border-radius: 2px;
}

.preview-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-buttons {
    display: none;
    font-size: 16px;
    font-family: 'TTLakes-Medium', sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.side-bar {
    display: flex;
    flex-direction: column;
    z-index: 9999;
    height: 100vh;
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
                -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.side-bar__header {
    padding: 24px;
    display: flex;
    align-items: center;
}

.side-bar__button:last-child {
    margin-left: auto;
}

.side-bar__logo {
    margin-left: 16px;
}

.pink-button--cross {
    background-image: url(../images/cross.svg);
}

.pink-button--search {
    background-image: url(../images/search.svg);
}

.side-nav__link {
    text-decoration: none;
    color: #1B1C21;
    padding: 16px 24px;
    display: block
}

.side-nav__link--active {
    background-image: url(../images/header.svg);
    background-repeat: no-repeat;
    background-position: left center;
    color: #7E7E82;
}

.side-bar__footer {
    margin-top: auto;
}

.side-footer {
    padding: 32px 24px;
}

.side-footer__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
}

.side-footer__link {
    display: block;
    color: #1B1C21;
    text-decoration: none;
}

.side-footer__link--mail {
    margin-bottom: 12px;
}

.side-footer__link--tel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.side-footer__lang {
    display: flex;
    gap: 7px;
}

.side-footer__lang-link {
    text-decoration: none;
    color: #1B1C21;
}

.side-footer__lang-link--active {
    color: #7E7E82;
}

.side-bar__button--hover-scale {
    transition: transform 0.3s ease;
}

.side-bar__button--hover-scale:hover {
    transform: scale(1.2);
}

.side-nav__link--hover-color {
    transition: color 0.3s ease;
}

.side-nav__link--hover-color:hover {
    color: #41F6D7;
}

@media only screen and (min-width: 768px) {
    .separator {
        display: block;
    }

    .additional-button {
        display: flex;
    }

    .preview-post {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 16px;
        gap: 48px;
    }

    .preview-post__image {
        border-radius: 6px;
        width: auto;
        height: 208px;
    }

    .read-more__button {
        margin-left: 9px;
    }

    .text-block {
        max-height: 160px;
        line-height: 20px;
    }

    .text-block__button {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1120px) {
    header {
        display: none;
    }

    .preview-post {
        padding: 0 32px;
    }

    .preview-post__image {
        height: 307px;
    }

    .main-header {
        margin-top: 42px;
        padding: 0 32px;
    }

    .nav-list {
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: flex-start;
        padding: 0 32px;
    }

    .service-buttons {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 32px;
    }

    .text-block__button {
        margin-top: 14px;
    }

    .side-bar {
        display: none;
    }
}